.catalog{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
}

.header_catalog{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cat_input {
    padding: 10px 20px;
    background-color: #005EEA;
    color: #fff;
    font-weight: 700;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.tovars_filter {
    display: flex;
    justify-content: space-between;
}


.h1_catalog{
    color: black;
    font-size: 36px;
    font-weight: 700;
}

.input{
    width: 500px;
    position: relative;
}

.input input{
    width: 100%;
    font-size: 18px;
    outline: none;
    padding: 15px 15px;
    align-items: center;
    padding-left: 25px;
    color: black;
    border-radius: 5px;
    background: none;
    border: none;
    border: 1px solid #005EEA;
}

.ikon_search{
    position: absolute;
    bottom: 11px;
    right: 0;
}

.catalog_wrapper{
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 33px;
}

.tovar{
    display: flex;
    max-width: 300px;
    padding: 30px;
    border: 1px solid #005EEA;
    border-radius: 25px;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    background-color: white;

}

.name {
    font-size: 17px;
    font-weight: 500;
}



.img_tovar{
    width: 300px;
    height: 300px;
}

.img_tovar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price_old{
    text-decoration-line: line-through;
    color: #525252;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.price {
    margin: 0;
}

.prices{
    display: flex;
    margin: 0;
    gap: 10px;
    font-weight: 500;
    align-items: center;
}